#main {
    display: flex;
    flex-wrap: wrap;
    height: 900px;
    width: 1000px;
    margin: auto;
    border: solid 2px grey;
    border-radius: 5px;
  }
  
  #main > div {
    background-color: white;
  }

  #btn {
    display: flex;
    height: 40px;
    width: 100px;
    align-self: center;
    margin: 10px auto;
  }
  